
.WorkDayTable {
    border-width: medium;
}

.container > h2 {
    margin-top: 50px;
    text-align: center;
}

.table_custom {
    border: 2px solid;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}



th {
    border-bottom: 1px solid;
    padding: 10px;
    text-align: center;
    border-right: 1px solid;
}

td {
    border: 0px solid;
    /*  padding: 10px 10px 10px 10px;*/
    margin: 0px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.table-bordered span {
    border: 1px solid;
    padding: 10px 36px;
}
