body {
	background: none;
}

p {
	margin: 0;
	padding: 0;
}

#accordion {
	display: flex;
	flex-direction: column;
}

.accordion-item {
	border: 2px solid #000000;
	margin-bottom: 10px;
	overflow: hidden;
	height: 30px;
	padding: 0 10px;
	transition: height 0.3s linear;
}

.accordion-item-title {
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.accordion-item-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.accordion-item.accordion-item--active {
	height: 110px;
}
