.timetorecordcontainer {
	/*width: 100vw;
	height: 100vh;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.timetorecord {
	width:30%;
	height:auto;
	background-color:white;
	position:fixed;
	top:50%;
	width:50%;
}
