.container > h2 {
	margin-top:100px;
	text-align:center;
}

main:before {
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: blue;
}
main:after {
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: blue;
}

