.container {
	max-width: 1000px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}


.backCon {
}

	.backCon img {
		width: 20px;
		height: 20px;
		position: relative;
		top: 4px;
	}

	.backCon span {
		color: #eb9191;
	}

.mainrec {
}

	.mainrec img {
		width: 100%;
	}

.recordd {
	text-align: center;
}

	.recordd * {
		margin: 10px 0;
	}

	.recordd button {
		background-color: #FF9292;
		border: none;
		text-decoration: none;
		outline: none;
		cursor: pointer;
		font-size: 20px;
		color: white;
		padding: 10px 20px;
	}

.contact {
	margin: 0 20px;
}

	.contact h3 {
		margin-bottom: 10px;
	}

.table-bordered input {
	overflow: visible;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
