@page "{title?}"
@model BSalonWebApp.Pages.DaysTableModel
@{
	ViewData["Title"] = "Месячное расписание";
	
}
<link href="~/css/Record.css" rel="stylesheet" />


<div class="bgPage">

	<div class="container">
		@* Кнопка назад *@
		<div class="backCon">
			<a href="#" class="btnBack">
				<img src="~/imgs/left-arrow.svg" />
				<span>Назад</span>
			</a>
		</div>
		@* Название сервиса *@
	<div class="mainrec">
		<div class="recordd">
			<h2>@Model.Service.Title</h2>
			<p>@Model.Service.Price&#8381</p>
			<button type="button" class="btn">Выбрать дату</button>
		</div>

		@* Расписание *@

		@{
			await Html.RenderPartialAsync("MonthTablePartial", Model.WorkDay);
		}

		@* Форма ФИО *@
		<iframe name="_blank" style="display:none"></iframe>
		<form asp-page-handler="AddRecord" method="post" target="_blank" id="form" style="display:none">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Record.Name"></label>
				<span asp-validation-for="Record.Name" class="text-danger"></span>
				<input asp-for="Record.Name" type="text" class="form-control" /> <br />
				<label asp-for="Record.SecondName"></label>
				<span asp-validation-for="Record.SecondName" class="text-danger"></span>
				<input asp-for="Record.SecondName" type="text" class="form-control" /><br />
				<label asp-for="Record.MiddleName"></label>
				<span asp-validation-for="Record.MiddleName" class="text-danger"></span>
				<input asp-for="Record.MiddleName" type="text" class="form-control" /><br />
				<label asp-for="Record.PhoneNumber"></label>
				<span asp-validation-for="Record.PhoneNumber" class="text-danger"></span>
				<input asp-for="Record.PhoneNumber" type="tel" class="form-control" /><br />
				<label asp-for="Record.Time"></label>
				<input asp-for="Record.Time" type="text" class="form-control" readonly />
				<input asp-for="Service.Id" type="hidden" />
				<input asp-for="Record.WorkerID" type="hidden" />
				<input type="submit" class="form-control mt-2" />
			</div>
		</form>

		<img src="~/imgs/temp.png" />
		@* Контактная информация *@
		<div class="contact">
			<h3>Адрес и контактная информация</h3>
			<h4>Эл. почта:</h4>
		</div>
	</div>
	</div>
</div>
<script src="~/js/RecordShowForm.js"></script>
<script src="~/js/RecordPage.js"></script>