@page
@model BSalonWebApp.Pages.IndexModel
@{
	ViewData["Title"] = "Главная | К НОГТЬЮ";
}

<link rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
	  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	  asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />

<link href="~/css/Index.css"
	  rel="stylesheet" />

<div class="maintitle">
	<h1>"К НОГТЮ"</h1>
	<h3>Салон красоты № 1</h3>
</div>

<div class="recordlist">
	<div class="record">
		<img src="~/imgs/temp.png" />
		<h2>Аппаратный маникюр</h2>
		<p>1ч.</p>
		<p>₽1500</p>
		<button class="btn" asp-page="/Record" asp-route-id="">Записаться</button>
	</div>
	<div class="record">
		<img src="~/imgs/temp.png" />
		<h2>Копия Аппаратный маникюр</h2>
		<p>1ч.</p>
		<p>₽1500</p>
		<a href="#" class="btn">Записаться</a>
	</div>
	<div class="record">
		<img src="~/imgs/temp.png" />
		<h2>Копия Аппаратный маникюр</h2>
		<p>1ч.</p>
		<p>₽1500</p>
		<a href="#" class="btn">Записаться</a>
	</div>
</div>

<div class="quote">
	<div class="text">
		<p class="p1">«Воля к победе, желание добиться успеха, стремление полностью раскрыть свои возможности… вот те ключи, которые откроют дверь к личному совершенству».</p>
		<p class="p2">Конфуций</p>
	</div>
</div>

<div class="imageBlock">
	<div class="imagelist">
		<img src="~/imgs/temp.png" />
		<img src="~/imgs/temp.png" />
		<img src="~/imgs/temp.png" />
		@for (int i = 0; i < 3; i++)
		{
			<img src="~/imgs/temp.png" style="display:none;" />
			<img src="~/imgs/temp.png" style="display:none;" />
			<img src="~/imgs/temp.png" style="display:none;" />
			<br />
		}
	</div>
	<button id="showMore">Показать ещё</button>
</div>

<div class="feedback">

</div>

<div class="time">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		asp-fallback-src="~/lib/jquery/jquery.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
		crossorigin="anonymous">
</script>
<script src="~/js/ShowMore.js"></script>
<script src="~/js/ChoiceTimeToRecord.js"></script>