@page
@model BSalonWebApp.Pages.IndexModel
@{
	ViewData["Title"] = "Главная | К НОГТЬЮ";
}



<link href="~/css/Index.css"
	  rel="stylesheet" />


<div class="maintitle">
	<h1>"К НОГТЮ"</h1>
	<h3>Салон красоты № 1</h3>
</div>

<div class="recordlist">
	<div class="card-deck">
		@foreach (var service in Model.Services)
		{
			<div class="card" style="width:18em">
				<img class="card-img-top" src="~/imgs/temp.png" alt="Text" />
				<div class="card-body">
					<h5 class="card-title">@service.Title</h5>
					<p class="card-text text-truncate">@service.Info</p>
					<a asp-page="/MonthSchedule" asp-route-title="@service.Title" class="btn btn-light">Записаться</a>
				</div>
			</div>
		}
	</div>
</div>
<div class="quote">
	<div class="text">
		<p class="p1">«Воля к победе, желание добиться успеха, стремление полностью раскрыть свои возможности… вот те ключи, которые откроют дверь к личному совершенству».</p>
		<p class="p2">Конфуций</p>
	</div>
</div>

<div class="imageBlock">
	<div class="imagelist">
		@for (int j = 1; j <= 20; j++)
		{
			<img src="~/imgs/rofl/@(j).jpg" style="@(j>=0&&j<4?"":" display:none;")" />
		}
	</div>
	<button id="showMore">Показать ещё</button>
</div>

<div class="feedback">

</div>

<div class="time">

</div>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
		asp-fallback-src="~/lib/jquery/jquery.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
		crossorigin="anonymous">
</script>*@
<script src="~/js/ShowMore.js"></script>
<script src="~/js/ChoiceTimeToRecord.js"></script>