@page
@model BSalonWebApp.Pages.IndexModel
@{
	ViewData["Title"] = "Главная | К НОГТЬЮ";
}
<link href="#" rel="stylesheet" />
<link href="~/css/Index.css" rel="stylesheet" />

<div class="maintitle">
	<h1>"К НОГТЮ"</h1>
	<h3>Салон красоты № 1</h3>
</div>

<div class="recordlist">
	@foreach (var service in Model.Services)
	{

	}
</div>

<div class="quote">
	<div class="text">
		<p class="p1">«Воля к победе, желание добиться успеха, стремление полностью раскрыть свои возможности… вот те ключи, которые откроют дверь к личному совершенству».</p>
		<p class="p2">Конфуций</p>
	</div>
</div>

<div class="imageBlock">
	<div class="imagelist">
		<img src="~/imgs/temp.png" />
		<img src="~/imgs/temp.png" />
		<img src="~/imgs/temp.png" />
		@for (int i = 0; i < 3; i++)
		{
			<img src="~/imgs/temp.png" style="display:none;" />
			<img src="~/imgs/temp.png" style="display:none;" />
			<img src="~/imgs/temp.png" style="display:none;" />
			<br />
		}
	</div>
	<button id="showMore">Показать ещё</button>
</div>

<div class="feedback">

</div>

<div class="time">

</div>

<script asp-></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/ShowMore.js"></script>