@page "{title?}"
@model BSalonWebApp.Pages.MonthScheduleModel
@{
	ViewData["Title"] = "Месячное расписание";
	
}
<link href="~/css/Record.css" rel="stylesheet" />


<div class="bgPage">

	<div class="container">
		@* Кнопка назад *@
		<div class="backCon">
			<a href="#" class="btnBack">
				<img src="~/imgs/left-arrow.svg" />
				<span>Назад</span>
			</a>
		</div>
		@* Название сервиса *@
	<div class="mainrec">
		<div class="recordd">
			<h2>@Model.Service.Title</h2>
			<p>@Model.Service.Price&#8381</p>
		</div>

		@* Расписание *@

		@*@{
			await Html.RenderPartialAsync("MonthTablePartial", Model.WorkDay);
		}*@
		@await Html.PartialAsync("MonthTablePartial", Model.WorkDay)

		<img src="~/imgs/temp.png" />
		@* Контактная информация *@
		<div class="contact">
			<h3>Адрес и контактная информация</h3>
			<h4>Эл. почта:</h4>
		</div>
	</div>
	</div>
</div>