@page
@model BSalonWebApp.Pages.OnlineRecordsModel
@{
	ViewData["Title"] = "OnlineRecords";
}

<link href="~/css/Index.css" rel="stylesheet" />
<link href="~/css/OnlineRecords.css" rel="stylesheet" />

<main>

	<div class="container">
		<h2>Наши услуги</h2>

		<div class="recordlist">
			<div class="record">
				<img src="~/imgs/temp.png" />
				<h2>Аппаратный маникюр</h2>
				<p>1ч.</p>
				<p>₽1500</p>
				<a href="#" class="btn">Записаться</a>
			</div>
			<div class="record">
				<img src="~/imgs/temp.png" />
				<h2>Копия Аппаратный маникюр</h2>
				<p>1ч.</p>
				<p>₽1500</p>
				<a href="#" class="btn">Записаться</a>
			</div>
			<div class="record">
				<img src="~/imgs/temp.png" />
				<h2>Копия Аппаратный маникюр</h2>
				<p>1ч.</p>
				<p>₽1500</p>
				<a href="#" class="btn">Записаться</a>
			</div>
		</div>
	</div>

</main>
