@page
@model BSalonWebApp.Pages.OnlineRecordsModel
@{
	ViewData["Title"] = "OnlineRecords";
}

<link href="~/css/Index.css" rel="stylesheet" />
<link href="~/css/OnlineRecords.css" rel="stylesheet" />

<main>

	<div class="container">
		<h2>Наши услуги</h2>

		<div class="recordlist">
			<div class="card-deck">
				@foreach (var service in Model.Services)
				{
					<div class="card" style="width:18em">
						<img class="card-img-top" src="~/imgs/temp.png" alt="Text" />
						<div class="card-body">
							<h5 class="card-title">@service.Title</h5>
							<p class="card-text text-truncate">@service.Info</p>
							<a asp-page="/Record" asp-route-id="@service.Id" class="btn btn-light">Записаться</a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

</main>
