@page "/Record/{title?}"
@model BSalonWebApp.Pages.RecordModel
@{
	ViewData["Title"] = "Record";

}
<link href="~/css/Record.css" rel="stylesheet" />


<div class="bgPage">

	<div class="container">
		@* Кнопка назад *@
		<div class="backCon">
			<a href="#" class="btnBack">
				<img src="~/imgs/left-arrow.svg" />
				<span>Назад</span>
			</a>
		</div>
		@* Название сервиса *@
		<div class="mainrec">
			<div class="recordd">
				<h2>@Model.Service.Title</h2>
				<p>@Model.Service.Price&#8381</p>
				<button type="button" class="btn">Записаться</button>
			</div>
			@* Расписание *@
			<div class="d-flex">
				@foreach (var record in Model.WorkDay.Records)
				{
					if (!record.IsFree)
					{
						<button class="btn btn-danger m-2 ml-0">@record.Time.Hour:@(record.Time.Minute)0</button>
					}
					else
					{
						<form asp-page-handler="AddTime" method="post"></form>
						<input type="submit" name="time" value="@record.Time.Hour:@(record.Time.Minute)0" class="btn btn-success m-2 ml-0" />
					}
				}
			</div>
			@* Форма ФИО *@
			<div>

			</div>

			<img src="~/imgs/temp.png" />
			@* Контактная информация *@
			<div class="contact">
				<h3>Адрес и контактная информация</h3>
				<h4>Эл. почта:</h4>
			</div>
		</div>
	</div>
</div>