@page "/Record/{id:int?}"
@model BSalonWebApp.Pages.RecordModel
@{
	ViewData["Title"] = "Record";

}
<link href="~/css/Record.css" rel="stylesheet" />


<div class="bgPage">

	<div class="container">

		<div class="backCon">
			<a href="#" class="btnBack">
				<img src="~/imgs/left-arrow.svg" />
				<span>Назад</span>
			</a>
		</div>

		<div class="mainrec">
			<div class="recordd">
				<h2>Аппаратный маникюр</h2>
				<p>1 ч. | 1500р.</p>
				<button type="button" class="btn">Записаться</button>
			</div>

			<img src="~/imgs/temp.png" />

			<div class="contact">
				<h3>Адрес и контактная информация</h3>
				<h4>Эл. почта:</h4>
			</div>
		</div>
	</div>
</div>