@page "/Record/{title?}"
@model BSalonWebApp.Pages.RecordModel
@{
	ViewData["Title"] = "Record";

}
<link href="~/css/Record.css" rel="stylesheet" />


<div class="bgPage">

	<div class="container">

		<div class="backCon">
			<a href="#" class="btnBack">
				<img src="~/imgs/left-arrow.svg" />
				<span>Назад</span>
			</a>
		</div>

		<div class="mainrec">
			<div class="recordd">
				<h2>@Model.Service.Title</h2>
				<p>@Model.Service.Price&#8381</p>
				<button type="button" class="btn">Записаться</button>
			</div>
			<div>
				@foreach (var workday in Model.TimeTable.WorkDays)
				{
					foreach (var record in workday.Records)
					{
						<p>@record.Time == @record.IsFree</p>
					}
				}
			</div>
			<img src="~/imgs/temp.png" />

			<div class="contact">
				<h3>Адрес и контактная информация</h3>
				<h4>Эл. почта:</h4>
			</div>
		</div>
	</div>
</div>